<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Solar Energy Calculator</title>
		<!-- Favicon-->
		<link rel="icon" type="image/x-icon" href="../static/assets/sun.png" />
		<style>
			.marker {
				width: 1vw;
				height: 1vw;
				background-color: red;
				position: absolute;
			}
			.result-number {
				font-family: monospace;
				text-align: right;
				padding-right: 1ch;
			}
			.container {
				background-color: #afdfff;
				padding: 20px;
				border-radius: 10px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			}
			.loading {
				display: none;
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 9999;
			}
		</style>
	</head>
	<body>
		<!-- Content section-->
		<section>
			<div class="loading" id="loading-container">
				<img src="../static/assets/loading.gif" alt="Loading..." />
			</div>

			<div>
				<div class="container">
					{% if results is none %}
					<form method="POST" enctype="multipart/form-data">
						<fieldset>
							<!-- Form Name -->
							<legend>Upload Your Image! See <a href="/how-to">the how-to page</a> for a guide.</legend>
							<div id="preview-container" style="width: 100%; position: relative">
								<canvas width="100" height="100" id="preview"></canvas>
							</div>
							<!-- Upload Button -->
							<div id="tutorial" style="display: none">
								<img src="../static/assets/tutorial.gif" alt="Tutorial" style="margin-right: auto" />
							</div>
							<div>
								<label for="image"></label>
								<div>
									<input id="image" name="image" type="file" />
									<input name="points" style="display: none" id="points" />
								</div>
							</div>

							<!-- Angles! -->
							<table>
								<!-- Lat/Long -->
								<tr>
									<td>Latitude</td>
									<td>
										<input id="latitude" name="latitude" type="text" placeholder="0.00" />
									</td>
								</tr>
								<tr>
									<td>Longitude</td>
									<td>
										<input id="longitude" name="longitude" type="text" placeholder="0.00" />
									</td>
								</tr>

								<!-- Locked Angle Config -->
								<tr>
									<td>Azmiuth Angle (optional)</td>
									<td>
										<input id="locked_b_angle" name="locked_b_angle" type="text" placeholder="Angle in degrees" />
									</td>
								</tr>
								<tr>
									<td>Zenith Angle (optional)</td>
									<td>
										<input id="locked_a_angle" name="locked_a_angle" type="text" placeholder="Angle in degrees" />
									</td>
								</tr>
							</table>

							<!-- Submit -->
							<div>
								<label for="submit"></label>
								<div>
									<button id="submit" name="submit">Run!</button>
								</div>
							</div>
						</fieldset>
					</form>
					{% else %}
					<div>
						<div>
							<a class="btn btn-danger" role="button" href="/data/{{ hash }}" download="data.json">Download</a>

							<h2>Fixed panel</h2>
							<table>
								<tr>
									<td>Azimuth angle</td>
									<td id="result-f-azimuth" class="result-number"></td>
									<td>degrees</td>
								</tr>
								<tr>
									<td>Zenith angle</td>
									<td id="result-f-zenith" class="result-number"></td>
									<td>degrees</td>
								</tr>
								<tr>
									<td rowspan="2">Energy</td>
									<td id="result-f-power-j" class="result-number"></td>
									<td>J/m<sup>2</sup>/year</td>
								</tr>
								<tr>
									<td id="result-f-power-kwh" class="result-number"></td>
									<td>kWh/m<sup>2</sup>/year</td>
								</tr>
								<tr>
									<td>Average power</td>
									<td id="result-f-power-w" class="result-number"></td>
									<td>W</td>
								</tr>
							</table>
						</div>
						<div>
							<h2>Tracking panel (b-axis)</h2>
							<table>
								<tr>
									<td>Zenith angle</td>
									<td id="result-b-zenith" class="result-number"></td>
									<td>degrees</td>
								</tr>
								<tr>
									<td rowspan="2">Energy</td>
									<td id="result-b-power-j" class="result-number"></td>
									<td>J/m<sup>2</sup>/year</td>
								</tr>
								<tr>
									<td id="result-b-power-kwh" class="result-number"></td>
									<td>kWh/m<sup>2</sup>/year</td>
								</tr>
								<tr>
									<td>Average power</td>
									<td id="result-b-power-w" class="result-number"></td>
									<td>W</td>
								</tr>
							</table>
						</div>
						<canvas id="solar-output-chart" width="400" height="200"></canvas>
						<img src="/results/{{ hash }}" style="width: 100%" />
						<button onclick="window.location.href = '/';">Back</button>
					</div>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"></script>
					<script>
						req = new XMLHttpRequest();
						req.open('GET', '/data/{{ hash }}');
						req.addEventListener('load', function (event) {
							results = JSON.parse(event.target.response);
							console.log('Results: ', results);
							document.getElementById('result-f-azimuth').innerText = ((results.fixed.b * 180) / Math.PI).toFixed(4);
							document.getElementById('result-f-zenith').innerText = ((results.fixed.a * 180) / Math.PI).toFixed(4);
							document.getElementById('result-f-power-j').innerText = results.fixed.energy.toFixed(4);
							document.getElementById('result-f-power-kwh').innerText = (results.fixed.energy / 1000 / 3600).toFixed(4);
							document.getElementById('result-f-power-w').innerText = (results.fixed.energy / 365 / 24 / 3600).toFixed(4);

							document.getElementById('result-b-zenith').innerText = ((results.btrack.a * 180) / Math.PI).toFixed(4);
							document.getElementById('result-b-power-j').innerText = results.btrack.energy.toFixed(4);
							document.getElementById('result-b-power-kwh').innerText = (results.btrack.energy / 1000 / 3600).toFixed(4);
							document.getElementById('result-b-power-w').innerText = (results.btrack.energy / 365 / 24 / 3600).toFixed(4);

							//Create a vector with the solar output in Wats/m^2 by day
							let daily_output = Array(results.parameters.days_c.length);

							for (let i = 0; i < results.parameters.days_c.length; i++) {
								daily_output[i] =
									Math.sqrt(
										results.parameters.days_c[i][0] ** 2 +
											results.parameters.days_c[i][1] ** 2 +
											results.parameters.days_c[i][2] ** 2
									) / 3600;
							}

							//Create the json object for the chart
							let chart_json = {
								type: 'line',
								data: {
									labels: [...Array(daily_output.length).keys()],
									datasets: [
										{
											data: daily_output,
											label: 'solar output (Wh/m^2)',
											backgroundColor: 'rgba(255, 0, 0, 1)',
										},
									],
								},
							};

							console.log(chart_json);

							const ctx = document.getElementById('solar-output-chart').getContext('2d');
							const chart = new Chart(ctx, chart_json);
						});
						req.send();
					</script>
					{% endif %}
				</div>
			</div>
		</section>
		<script>
			window.solar = {
				points: [],
			};
			var imgInp = document.getElementById('image');
			var preview = document.getElementById('preview');
			var tutorial = document.getElementById('tutorial');
			var ctx = preview.getContext('2d');
			var container = document.getElementById('preview-container');
			imgInp.addEventListener('change', function (evt) {
				const [file] = imgInp.files;
				if (file) {
					var img = new Image();
					img.src = URL.createObjectURL(file);
					window.solar.img = img;
					img.onload = function () {
						console.log(img, img.width, img.height);
						preview.width = container.clientWidth;
						preview.height = (container.clientWidth * img.height) / img.width;
						ctx.drawImage(img, 0, 0, preview.width, preview.height);
						tutorial.style.display = 'block';
					};
				}
			});
			preview.addEventListener('mousedown', function (evt) {
				console.log(evt.offsetX, evt.offsetY);
				var x = (evt.offsetX / preview.width) * window.solar.img.width;
				var y = (evt.offsetY / preview.height) * window.solar.img.height;
				ctx.beginPath();
				ctx.arc(evt.offsetX, evt.offsetY, 3, 0, 6.283185307179586);
				ctx.fillStyle = 'red';
				ctx.strokeStyle = 'red';
				if (window.solar.last_point) {
					ctx.moveTo(
						(window.solar.last_point[0] / window.solar.img.width) * preview.width,
						(window.solar.last_point[1] / window.solar.img.height) * preview.height
					);
					ctx.lineTo(evt.offsetX, evt.offsetY);
				}
				window.solar.last_point = [x, y];
				window.solar.points.push([x, y]);
				document.getElementById('points').value = JSON.stringify(window.solar.points);

				ctx.fill();
				ctx.stroke();
			});

			const loadingContainer = document.getElementById('loading-container');
			const runButton = document.getElementById('submit');

			runButton.addEventListener('click', function () {
				// Display the loading GIF
				loadingContainer.style.display = 'block';

				setTimeout(function () {
					// Hide the loading GIF after some delay
					loadingContainer.style.display = 'none';
					console.log('Data displayed!');
				}, 60000);
			});
		</script>
	</body>
</html>
